*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.maze{
    display:flex;
    flex-direction: column;
    //max-width: 785px;
    //width:90vw;
    //height: 535px;
    //height:75vh;
    margin:auto;
    border: 5px solid black;
    .maze_row{
        display: flex;
        flex-direction: row;
        .grid{
            margin:0px;
            padding:0px;
            border:0.01px solid black;
            width:25px;
            height:25px;
        }
    }
    .seen{
        background-color: rgb(0, 255, 255);
        animation-name: seen_animation;
        animation-duration: 750ms;
    }
    .obstacle{
        background-color: black;
    }
    .start{
        background-color: green;
    }
    .target{
        background-color: red;
    }
    .path{
        background-color: blue;
    }
}
@keyframes seen_animation{
    0%{opacity: 0;}
    100%{opacity: 1;}
}