.maze_control{
    width:100vw;
    height:20vh;
    padding:1vh 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
    .maze_control_variables{
        display: none;
    }
    .genetic_algo_options{
        input[type="number"]{
            width: 40px;
        }
    }
    .maze_building_options{
    }
    .maze-building-title{
        font-weight: bold;
        margin:0px;
    }
    button{
        padding: 5px 12px;
        background-color: rgb(65, 194, 236);
        border:none;
        color: white;
        font-size: bolder;
        &:active{
            outline: none;
            border: none;
            background-color: rgb(29, 119, 150);
        }
        &:focus{
            outline: none;
            border:none;
            transition-duration: 200ms;
        }
    }
    .show-btn{
        width: 0px;
        height: 0px;
        padding: 0px;
        overflow: hidden;
    }
    #algorithm{
        background-color: lightblue;
        border: none;
        padding: 5px 10px;
        &:focus{
            outline: none;
            border: none;
        }
    }
    input[type=number]{
        background-color: lightblue;
        border: none;
        outline: none;
        padding: 5px 1px;
        &:focus{
            outline: none;
            border: none;
        }
        &::-webkit-inner-spin-button {
            background-color: rgb(51, 168, 207);
        }
    }
}
@media screen and (max-width:685px){
    .show-btn{
        min-width: 45px;
        min-height: 20px;
    }
    .algo_choseing_div,.genetic_algo_options{
        width: 0px;
        height:0px;
        overflow: hidden;
        margin:0px;
        padding: 0px;
    }
    .show_more_options1,.show_more_options2{
        position: absolute;
        top: 2.5%;
        left: 67.5px;
        width:205px;
        height: 100px;
        padding: 20px;
        background-color:lightblue;
    }
    .show_more_options2{
        left:272.5px;
        input[type=number]{
            background-color: rgb(95, 214, 253);
        }
    }
}